
html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientFlow {
  background-size: 200% 200%;
  animation: gradientFlow 3s ease infinite;
}

.smooth-perf {
  will-change: transform, opacity;
  transform: translateZ(0); /* triggers GPU rendering */
}